html {
    font-family: 'Times New Roman', Times, serif;
    
}
#intro {
    text-align: center;
}

#title {
    margin-top: 50px;
}
#socials {
    height: 30px;
    display: flex;
    margin-left: 33%;
    margin-right: 33%;
    justify-content: space-between;
    margin-bottom: 50px;;

}
.header_img {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 50%;
}

#bio {
    font-size: small;
    margin-left: 20%;
    margin-right: 20%;
}

#nav {
    display: block;
    justify-content: center;
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 200px;
}

.nav_block {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 33%;
    height: 100%;

}

.nav_img{
    width: 100%;
    max-height: 100%;
}

#proj_nav {
    background: url("media/proj.png") no-repeat;
    background-size: 100%;
}

#exp_nav {
    background: url("media/exp.png") no-repeat;
    background-size: 100%;
}

#ach_nav {
    background: url("media/ach.png") no-repeat;
    background-size: 100%;
}

.nav_caption {
    margin: auto;
    background-color: black;
    color: white;
    font-size: 30px;
    height:50px;
    justify-content: center;
    align-content: center;
}